<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	id: 			String uniquely identifying the step. Used in serialization. 
	iconfile:		The step icon used in spoon
	description: 	The name of the step as it appears in Spoon
	tooltip:		The tooltip of the step as it appears in Spoon
	category:		The step category in the tree view in Spoon
	classname:		The step class implementing StepMetaInterface
 -->
<plugin
   id="MARC21Loader"
   iconfile="icon.png"
   description="MARC21 Records Loader"
   tooltip="Extract Records in MARC21 format from file"
   category="LODPlatform"
   classname="com.ucuenca.pentaho.plugin.step.marc21loader.MARC21LoaderMeta">
		
		<!-- the list of jar files to include when loading the step -->
		<libraries>
			<!-- the classes implementing the step interfaces are in this jar -->
    		<library name="marc21-loader-0.0.1-SNAPSHOT.jar"/>
    		
    		
    		<!-- specify additional jars to be included when loading the step plug-in -->
    		<!--  
    			<library name="lib/some-additional-jar.jar"/>
    		 -->
		 	<library name="lib/freelib-marc4j-2.6.4-SNAPSHOT.jar"/>
		 	<!-- <library name="lib/freelib-marc4j-2.6.3.jar"/> -->
		</libraries>
		
</plugin>
