---
---

@import "{{ site.theme }}";

img[alt=ImageLOD] { width: 350px; }
img[alt=ImageFramP] { width: 350px; }
img[alt=ImageARQLOD] { width: 400px; }

img[src$="centerme"] {
  display:block;
  margin: 0 auto;
}

img[src$="centermetab"] {
  display:block;
  margin: 0 auto;
  width: 90px; 
}

img[src$="centermetab2"] {
  display:block;
  margin: 0 auto;
  width: 170px; 
}

img[src$="centermetab3"] {
  display:block;
  margin: 0 auto;
  width: 100px; 
}

img[src$="centermetab4"] {
  display:block;
  margin: 0 auto;
  width: 1000px; 
}

img[src$="centermetab5"] {
  display:block;
  margin: 0 auto;
  width: 300px; 
}

