---
---

@import "{{ site.theme }}";

img[alt=ImageLOD] { width: 350px; }
img[alt=ImageFramP] { width: 350px; }
img[alt=ImageARQLOD] { width: 400px; }

img[src$="centerme"] {
  display:block;
  margin: 0 auto;
}
